<h2>{{post.title}}
  Published:
  {{format_date post.createdAt}}
  By:
  {{post.user.username}}</h2>
<p>{{post.content}}</p>

{{#if loggedIn}}
  <div class="row justify-space-between-md">
    <div class="login-card">
      <h2 class="page-title">Add Comment</h2>
    </div>
    <form class="form comment-form mb-4">
      <input type="hidden" id="post-id" value="{{post.id}}" />

      <label class="form-label" for="comment-body"></label>
      <textarea
        class="form-control form-control-lg"
        id="comment-body"
      ></textarea>
      <br />
      <button type="submit" class="btn btn-primary">Add comment</button>

    </form>
  </div>

{{/if}}

{{#if post.comments}}
  {{#each post.comments}}
    <p>Published: {{format_date createdAt}}</p>
    <p>{{comment_body}}</p>
    <p>Username: {{user.username}}</p>
  {{/each}}
{{/if}}

<script src="/js/comments.js"></script>